.containner-produtos{
    width: 100%;
}
.containner-produtos nav{
    width: 100%;
    background-color:rgba(253, 208, 5, 0.685);
    width: 100%;
    text-align: center;
    display: block;
    position: sticky;
    top:0;
}

.containner-produtos nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin: 0;
    width: 25%;
}
.containner-produtos nav ul li a{
    padding: 5px;
    width: 100%;
    margin: 0;
    font-size: large;
    color: #2A5DA4;   
    display: block;
    cursor: pointer;
    text-decoration: none;
    background-color:  rgba(253, 208, 5, 0.685);
    border:none;

}
.containner-produtos nav ul li a img{
    width: 30px;
}
.containner-produtos nav ul li a:hover{
    background-color: rgba(255, 255, 255, 0.788);
    color: #2A5DA4;
}

.containner-produtos nav ul li .btn-ativo{
    background-color: rgba(255, 255, 255, 0.788);
    color: #2A5DA4;
}
.disabled{
    display: none;
}


/* container item produto*/
#section-cama, #section-eletro, #section-musica{
    padding-top: 50px;
}
.section-produtos{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.section-produtos div{
    width: 180px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    border: 1px solid rgb(241, 225, 131);
    border-radius:5%;
    box-shadow: 10px 10px 15px #444;

}

.section-produtos div:hover{
    padding:5px;
}
.section-produtos div img{
    width: 100%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
.section-produtos div h2,.section-produtos div legend,.section-produtos div span{
    font-size: 0.8rem;
    padding: 3px;
}
.section-produtos div span{
    font-size: 20px;
    font-weight: 600;
    color: #2A5DA4;
}
.section-produtos div legend{
    color: #eb5802;
}
.section-produtos div h2{
    color: #444;
}
.categoria{
    width: 100%;
    border:1px solid blue;
    display: block;
}

@media screen and (max-width: 700px) {
        .section-produtos div{
        width: 120px;  
    }

}

@media screen and (max-width:700px){
    .containner-produtos nav ul li a img{
        width: 16px;
        height: 16px;
    }
}