.containner-produtos{
    width: 100%;
}
.containner-produtos nav{
    width: 100%;
    background-color:rgba(253, 208, 5, 0.685);
    width: 100%;
    text-align: center;
    display: block;
    position: sticky;
    top:0;
}

.containner-produtos nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin: 0;
    width: 25%;
}
.containner-produtos nav ul li button{
    padding: 5px;
    width: 100%;
    margin: 0;
    color: #2A5DA4;   
    display: block;
    cursor: pointer;
    text-decoration: none;
    background-color:  rgba(253, 208, 5, 0.685);
    border:none;

}
.containner-produtos nav ul li button img{
    width: 24px;
}
.containner-produtos nav ul li button:hover{
    background-color: rgba(255, 255, 255, 0.788);
    color: #2A5DA4;
}

.containner-produtos nav ul li .btn-ativo{
    background-color: rgba(255, 255, 255, 0.788);
    color: #2A5DA4;
}
.disabled{
    display: none;
}


/* produto-click*/
.btn-desibled{
    background-color: #f6db40;
}
.containner-produtos section .grup-produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.containner-produtos section .grup-produtos .produto-click{
    max-width: 220px;
    box-shadow: 10px 10px 20px rgb(77, 53, 34);
    margin:10px;
    border-radius: 10px;
    text-align:center;
    color: #444;
    cursor: pointer;

}
.containner-produtos section .grup-produtos .produto-click:hover{
    padding: 5px;
}
.containner-produtos section .grup-produtos .produto-click h2{
    font-size: 18px;
    font-weight: 400;
}
.containner-produtos section .grup-produtos .produto-click img{
 width: 100%;
}
.containner-produtos section .grup-produtos .produto-click span{
    font-size: 20px;
    font-weight: 600;
    color: #ebc802;
}
.containner-produtos section .grup-produtos .produto-click .av{
    color: #2A5DA4;
}
@media screen and (max-width:700px){
    
    .containner-produtos section .grup-produtos .produto-click{
        flex-wrap: wrap;
        width: 150px;
        margin-bottom: 5px;
    }
}